<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Burger's Available</p>
            {{#each burger_data}}
            {{#unless this.devoured}}
            <pre>{{this.id}}. {{this.burger_name}}</pre>
            <form class="devour-form">
                <pre value=></pre>
                <button class="burger_id" value={{this.id}} type="submit">Devour It!</button>
            </form>
            {{!-- Additional Code HERE --}}
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p>Eaten Burgers</p>
            {{#each burger_data}}
            {{#if this.devoured}}
            <p>{{this.burger_name}}</p>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/burgers/create" method="POST">
                <input placeholder="Add Burger's Here" name="burger_name" value="" id="entered_text" />
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
